/* --------------------------
    global variables
----------------------------- */

:root {
  --primary-color: #562eff;
}

/* --------------------------
    body and utilities style
----------------------------- */
body {
  background-color: #f3f1ff;
}

/* --------------------------
    navigation bar style
----------------------------- */
.navigation {
  background-color: var(--primary-color);
  display: flex;
}
.navigation .logo img {
  width: 51px;
}
