/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* body and utilities */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
}
main {
  display: flex;
  justify-content: center;
}

/* top players style */
.section-title {
  font-size: 24px;
  color: #562eff;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.player {
  display: flex;
  align-items: center;
}

.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
}
