/* --------------------------
    global variables
----------------------------- */

:root {
  --primary-color: #562eff;
}

/* --------------------------
    body and utilities style
----------------------------- */
* {
  margin: 0;
}

body {
  background-color: #f3f1ff;
}

/* --------------------------
    navigation bar style
----------------------------- */

.navigation,
.nav-section,
.logo,
.nav-items {
  display: flex;
  align-items: center;
}

.navigation {
  background-color: var(--primary-color);
  justify-content: space-between;
}
.navigation .logo img {
  width: 40px;
}

.navigation .nav-section img {
  width: 52px;
}
